.jobContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.avatarContainer {
  flex: none;
}

.avatarContainer img {
  object-fit: contain;
}

.jobDetails {
  width: 70%;
}

.date {
  width: 20%;
}

.companyDateContiner {
  display: flex;
  align-items: center;
}

.jobDescriptionContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.jobDescriptionContainer.show {
  max-height: 500px; /* Assume a reasonable maximum height */
  opacity: 1;
}
